.card {
	padding: 1.5rem;
	border-radius: 1rem;
	background-color: var(--light);
}

.presentation a:hover {
	text-decoration: underline;
}

.contact {
	margin-bottom: 5rem;
}

.social,
.projects {
	gap: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.projects {
	grid-template-columns: 1fr;
}

.top {
	right: 2rem;
	bottom: 2rem;
	border: none;
	color: #fff;
	cursor: pointer;
	position: fixed;
	border-radius: 0.5rem;
	padding: 0.1rem 0.6rem;
	background: var(--light);
}

.top svg:hover {
	stroke: var(--primario);
}

@media (min-width: 468px) {
	.card {
		padding: 4rem;
	}

	.presentation p:last-child {
		margin-bottom: 0rem;
	}

	.social,
	.projects {
		gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
	}
}
