.card {
	padding: 1.5rem;
	background-color: #f4fdf9;
}

.card h1 {
	margin: 0rem;
	font-weight: 400;
	font-size: 2.5rem;
	text-align: center;
}

.presentation {
	line-height: 2;
	text-align: justify;
}

.presentation a {
	color: var(--primario);
}

.presentation a:hover {
	text-decoration: underline;
}

.contact {
	margin-bottom: 5rem;
}

.contact h2 {
	font-weight: 400;
	font-size: 2.4rem;
	text-align: center;
}

.social {
	gap: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 468px) {
	.card {
		padding: 4rem;
	}

	.card h1 {
		text-align: start;
		font-size: 4.6rem;
	}

	.presentation, .contact p {
		font-weight: 300;
		font-size: 2.2rem;
		text-align: start;
	}

	.presentation p:last-child {
		margin-bottom: 0rem;
	}

	.contact h2 {
		font-size: 4rem;
		text-align: start;
	}

	.social {
		gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
	}
}
