.project {
	grid-template-columns: 1fr;
}

.project:not(:last-child) {
	margin-bottom: 1rem;
}

.image {
	border-radius: 0.5rem;
}

.info h2{
	text-align: left;
}

.buttons {
	display: flex;
}

.buttons a {
	color: white;
	font-weight: 600;
	border-radius: 100rem;
	padding: 1.3rem 2rem;
	background-color: var(--primario);
}

.info ul {
	padding: 0rem 2rem;
}

.info ul li {
	line-height: 2;
	font-weight: 300;
	color: #5E5E5E;
	font-size: 1.6rem;
}

@media (min-width: 468px) {
	.project:not(:last-child) {
		margin-bottom: 4rem;
	}

	.info h2{
		font-size: 3.2rem;
	}

	.buttons a {
		padding: 1.3rem 2.5rem;
	}

	.info ul li {
		font-size: 2rem;
	}
}

@media (min-width: 768px) {
	.project {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.info {
		padding-left: 6rem;
	}
}
