.projects {
    gap: 1.5rem;
    display: grid;
    margin-top: 2rem;
	margin-bottom: 4rem;
    grid-template-columns: 1fr;
}

.text {
    font-weight: 300;
}

@media (min-width: 468px) {
    .projects {
        margin-top: 3rem;
    }
}