.skill {
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #f4fdf9;
}

.skill:hover {
    color: var(--primario);
}

.skill h4 {
    margin: 0.5rem;
    font-weight: 400;
}

