.skill {
    padding: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--light);
}

.skill:hover {
    background-color: #fafafa;
}

.skill h4 {
    margin: 0.5rem;
}

