@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.main {
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	padding-bottom: 3rem;
}

.header p {
	line-height: 2;
	font-size: 1.8rem;
    text-align: justify;
}

.header h1 {
	letter-spacing: -0.90px;
	font-family: 'Inter', sans-serif;
}

.header h1 span{
	color: var(--primario);
}

.typing {
	display: inline;
	color: var(--primario);
}