@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--primario: #95afc0;
	--secundario: #6c5ce7;
	--complementario: #7b73ff;
	--tipografia: #535c68;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	transition: 0.2s ease-in-out;
}

body {
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: var(--tipografia);
}

.flex {
	display: flex;
	align-items: center;
}

.container {
	width: 95%;
	margin: 0 auto;
	max-width: 130rem;
}

.button {
	color: white;
	padding: 1.5rem;
	text-align: center;
	border-radius: 1.5rem;
}

/*  */
.navbar {
	margin-top: 2rem;
	justify-content: space-between;
}

.navbar__logo {
	height: 5rem;
}

.icon-tabler-menu-2 {
	height: 4rem;
}

/*  */
.header {
	margin-top: 5rem;
	text-align: center;
	flex-direction: column;
}

.header__subtitle {
	color: var(--secundario);
}

.header__description {
	margin: 2rem;
	list-style: none;
}

.social {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.social__icon {
	margin: 2rem 1.2rem;
	color: var(--secundario);
}

.button__CV {
	margin-top: 2.5rem;
	background-color: var(--complementario);
}
