@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--primario: #95afc0;
	--secundario: #6c5ce7;
	--complementario: #7b73ff;
	--tipografia: #535c68;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	transition: 0.2s ease-in-out;
}

body {
	overflow-x: hidden;
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: var(--tipografia);
}

.flex {
	display: flex;
	align-items: center;
}

.container {
	width: 95%;
	margin: 0 auto;
	max-width: 110rem;
}

.button {
	color: white;
	padding: 1.5rem;
	text-align: center;
	border-radius: 1.5rem;
}

/*  */
.navbar {
	margin-top: 6rem;
	justify-content: space-between;
}

.navbar__logo {
	height: 5rem;
}

.icon-tabler-menu-2 {
	height: 4rem;
	cursor: pointer;
}

/*  */

.menu {
	top: 0;
	right: 0;
	width: 0rem;
	height: 100vh;
	position: fixed;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--secundario);
}

.menu__close {
	width: 100%;
	justify-content: flex-end;
}

.icon-tabler-x {
	height: 4rem;
	margin-top: 2rem;
	cursor: pointer;
}

.menu__options {
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
}

.menu__option {
	color: white;
	padding: 2rem 0rem;
}

/*  */
.header {
	margin-top: 5rem;
	text-align: center;
	flex-direction: column;
}

.header__subtitle {
	color: var(--secundario);
}

.header__description {
	margin: 2rem;
	list-style: none;
}

.social {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.social__icon {
	margin: 2rem 1.2rem;
	color: var(--secundario);
}

.button__CV {
	margin-top: 2.5rem;
	background-color: var(--complementario);
}

/*  */
.portfolio {
	margin-top: 18rem;
	margin-bottom: 6rem;
	justify-content: center;
	flex-direction: column;
}

.portfolio__title {
	margin: 0rem;
	text-align: center;
	padding-bottom: 0.5rem;
	border-bottom: 0.5rem solid var(--complementario);
}

.portfolio__subtitle {
	text-align: center;
	margin: 3rem 0rem;
}

.portfolio__items {
	gap: 1rem;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.portfolio__item {
	height: 18rem;
	text-align: center;
	flex-direction: column;
	background-size: cover;
	justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
}

.portfolio__item:nth-child(1) {
	background-image: linear-gradient(rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 0.9)),
		url(../assets/img/projects/1.png);
}

.portfolio__item:nth-child(2) {
	background-image: linear-gradient(rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)),
		url(../assets/img/projects/2.png);
}

.portfolio__item:nth-child(3) {
	background-image: linear-gradient(rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 0.9)),
		url(../assets/img/projects/3.png);
}

.item__title {
	margin: 0;
	color: var(--secundario);
}

.item__icons {
	display: flex;
}

.item__icons a {
	color: white;
	margin: 0.4rem;
	padding: 0.4rem;
	background-color: var(--secundario);
}

.item__icons i {
	margin: 0rem 0.5rem;
}

.item__icons a,
.portfolio__item--description p {
	font-size: 1.4rem;
}

.footer {
	padding: 3rem;
	text-align: center;
	color: var(--secundario);
}
