@media (max-width: 320px) {
	.header {
		margin-top: 2rem;
	}
}

@media (max-width: 767px) {
	.navbar {
		margin-top: 2rem;
	}

	.menu__option {
		font-size: 2rem;
	}

	.header {
		height: calc(100vh - 8rem);
	}

	.portfolio {
		margin-top: 0rem;
	}

	.portfolio__items {
		grid-template-columns: 1fr;
	}
}
